* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
    padding: 5px;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}

img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
    border-radius: 3px;
    margin: 10px;
}

.box {
    width: 480px;
    height: 250px;
    border: 2px solid black;
    background-color: #667766;
}

.img1 {
    position: absolute;
    top: 150px;
    left: 550px;
}

.img2 {
    position: absolute;
    top: 150px;
    left: 660px;
}

.img3 {
    position: absolute;
    top: 150px;
    left: 770px;
}

.img4 {
    position: absolute;
    top: 150px;
    left: 880px;
}
